<div class="user-profile">
  <mat-card class="user-profile__card">
    <mat-card-title>Perfil del usuario</mat-card-title>
    <mat-card-content class="user-profile__card__content">
      <div class="user-profile__card__content__row">
        <div class="user-profile__card__content__row__left">Nombres:</div>
        <div class="user-profile__card__content__row__right">Wilder Tarazona Campomanes</div>
      </div>
      <div class="user-profile__card__content__row">
        <div class="user-profile__card__content__row__left">Compañía:</div>
        <div class="user-profile__card__content__row__right">Multiplica</div>
      </div>
      <div class="user-profile__card__content__row">
        <div class="user-profile__card__content__row__left">DNI:</div>
        <div class="user-profile__card__content__row__right">46437246</div>
      </div>
      <div class="user-profile__card__content__row">
        <div class="user-profile__card__content__row__left">Celular:</div>
        <div class="user-profile__card__content__row__right">967735519</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
